!#extends BaseEmbedded
!#arg something int
!#sub unused
This code will not be used in the base template, but the compiler should write a warning about it!!!

{{!#sub head}}
<script>
alert("included")
</script>

{{!#sub body}}
<h1>Body!</h1>
